body {
  background: #0e7e12;
}
.card {
  display: inline-block;
  text-align: center;
  margin: auto;
  height: 400px;
  width: 250px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}
.top {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 75px;
}
.bottom {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 75px;
}
.number {
  height: 50vh;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
